services:
  db:
    image: mysql:8.0
    container_name: hotel_mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: hotel_db
      MYSQL_USER: marwaaq
      MYSQL_PASSWORD: marwaphpmyadminaq
    ports:
      - "3307:3306"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    depends_on:
      - db
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
    ports:
      - "8081:80"

  streamlit_app:
    build: .
    container_name: hotel_streamlit
    depends_on:
      - db
    environment:
      - DB_HOST=db
    ports:
      - "8501:8501"
    volumes:
      - .:/app